* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
    Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

a,
button {
  color: inherit;
  font-size: inherit;
  text-decoration: none;
}


a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
  min-width: 100vw;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

